@page
@model _02_home_asp.Pages.Task_5Model
@{
}

<div>
    <h2>Popular Tourist Destinations</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Num</th>
                <th scope="col">Destination</th>
                <th scope="col">Country</th>
                <th scope="col">Attraction</th>
                <th scope="col">Best Time to Visit</th>
                <th scope="col">Approx. Annual Visitors (Millions)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Paris</td>
                <td>France</td>
                <td>Eiffel Tower</td>
                <td>April to June, September to November</td>
                <td>30</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Kyoto</td>
                <td>Japan</td>
                <td>Fushimi Inari Shrine</td>
                <td>March to May, October to November</td>
                <td>10</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>New York City</td>
                <td>United States</td>
                <td>Statue of Liberty</td>
                <td>April to June, September to early November</td>
                <td>65</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Rome</td>
                <td>Italy</td>
                <td>Colosseum</td>
                <td>April to June, late September to October</td>
                <td>7</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Barcelona</td>
                <td>Spain</td>
                <td>Sagrada Familia</td>
                <td>May to June, September to October</td>
                <td>32</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Cape Town</td>
                <td>South Africa</td>
                <td>Table Mountain</td>
                <td>March to May, September to November</td>
                <td>4</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Dubai</td>
                <td>United Arab Emirates</td>
                <td>Burj Khalifa</td>
                <td>November to March</td>
                <td>16</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Sydney</td>
                <td>Australia</td>
                <td>Sydney Opera House</td>
                <td>September to November, March to May</td>
                <td>10</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Rio de Janeiro</td>
                <td>Brazil</td>
                <td>Christ the Redeemer</td>
                <td>December to March</td>
                <td>6</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>London</td>
                <td>United Kingdom</td>
                <td>Big Ben</td>
                <td>March to May</td>
                <td>20</td>
            </tr>
        </tbody>
    </table>
</div>
