@page
@model _02_home_asp.Pages.Task_3Model
@{
}

<div>
    <h1>The Sapphire Spoon</h1>

    <p>
        An upscale dining destination, The Sapphire Spoon is known for its innovative approach to international cuisine.
        The restaurant blends global culinary traditions with contemporary techniques, creating dishes that are both
        visually stunning and rich in flavor. Diners are treated to a menu that evolves with the seasons, complemented
        by a meticulously crafted wine list featuring selections from boutique vineyards and renowned wineries worldwide.
    </p>
</div>
